@media only screen and (min-width: 600px) {
  .practice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .practice-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .practice-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 15px;
    transition: all 0.6s ease-in-out;
  }
  .practice-card a {
    text-decoration: none;
  }
  .practice-card:hover {
    transform: scale(1.1);
  }
  .practice-card img {
    width: 70%;
    height: 70%;
  }
  .card-title {
    background-color: #202020;
    width: 70%;
    text-align: center;
    padding: 10px 20px;
    color: white;
  }
}

@media only screen and (max-width: 600px) {
  .practice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .practice-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .practice-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 20px;
  }
  .practice-card:hover {
    transform: scale(1.1);
    transition: all 0.6s ease-in-out;
  }
  .practice-card img {
    width: 100%;
    height: 100%;
  }
  .card-title {
    background-color: #202020;
    width: 100%;
    text-align: center;
    padding: 5px 20px;
    color: white;
  }
}
