@media only screen and (min-width: 1000px) and (max-width: 2000px) {
  /* body {
    background-color: wheat;
  } */
  .videoPage-container {
    display: flex;
    justify-content: space-between;
  }
  .player-container {
    padding-left: 50px;
    padding-top: 100px;
  }
  .navbar {
    width: 350px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* body {
    background-color: lightseagreen;
  } */
  .profileSideBar-container {
    display: none;
    /* width: 200px; */
  }
  .profileSideBar-container .progress {
    width: auto;
  }
  .nav-menu {
    display: none;
  }
  .navbar {
    background-color: black;
  }
  .player-container {
    padding-left: 0px;
    padding-top: 0px;
  }
}
@media only screen and (max-width: 600px) {
  /* body {
    background-color: slategray;
  } */
}

/* .ch-page {
  background-color: #fffcfc;
  position: relative;
  left: 500px;
  justify-content: center;
  padding-top: 100px;
} */
/* .ch-page .player-wrapper {
  position: relative;
  padding-top: 56.25%; */

/* top: -1000px;
  left: 200px; */
/* Player ratio: 100 / (1280 / 720) */
/* } */
/* .ch-page .react-player {
  position: absolute;
  top: 0;
  left: 0;
} */
/* .ch-page .container {
  position: relative;
  right: 1000px;
  width: 20vh;
} */
.ch-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ch-page .CH-container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.ch-page .answers {
  display: flex;
  margin-top: 20px;
}
.ch-page .answers .answer-button {
  margin-right: 20px;
}

.R {
  color: chartreuse;
}
.W {
  color: #ea5151;
}
.ch-page header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  color: #fffcfc;
  text-align: left;
  padding: 25px;
}
.ch-page header .menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}
.answer-button {
  width: 150px;
  height: 50px;
  background-color: #ea5151;
  color: #fffcfc;
  border: none;
}
