@media only screen and (min-width: 768px) and (max-width: 2000px) {
  .videos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px;
    max-width: 100%;
  }
  .video-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 30%;
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    transition: all 0.5s ease-in-out;
  }

  .video-container:hover {
    transform: scale(1.1);

    z-index: 1;
  }
  .video-container a {
    text-decoration: none;
  }
  .videos-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    );
    width: 100%;
    padding: 0px 35px;
    padding-top: 20px;
    margin-top: 30px;
  }
  .video-title {
    color: white;
  }
  .video-content {
    color: gray;
    margin-bottom: 20px;
  }
  .videos-left {
    position: relative;
    display: flex;
    background-color: #dddddd;
    /* width: 70%; */
  }
  .video-background {
    width: 100%;
    height: 100%;
  }
  .small-logo {
    width: 30%;
    height: 30%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .videos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  .video-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 40%;
    height: 160px;
    margin: 10px;
  }
  .video-container:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
  .videos-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    );
    width: 32%;
    padding: 0px 35px;
  }
  .video-title {
    color: white;
  }
  .video-content {
    color: gray;
    margin-bottom: 20px;
  }
  .videos-left {
    position: relative;
    display: flex;
    background-color: #dddddd;
    width: 70%;
  }
  .video-background {
    width: 60%;
    height: 100%;
  }
  .small-logo {
    width: 30%;
    height: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .videos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .video-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 62%;
    height: 120px;
    margin-top: 20px;
  }
  .video-container:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
  }
  .videos-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgb(28, 27, 27) 0%,
      rgb(26, 23, 23) 100%
    );
    width: 32%;
    padding: 0px 35px;
  }
  .video-title {
    color: white;
  }
  .video-content {
    color: gray;
    margin-bottom: 20px;
  }
  .videos-left {
    position: relative;
    display: flex;
    background-color: #dddddd;
    width: 70%;
  }
  .video-background {
    width: 60%;
    height: 100%;
  }
  .small-logo {
    width: 30%;
    height: 30%;
  }
}
